<template>
  <v-app>
    <div class="main">
      <nuxt />
    </div>
    <v-footer
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  
}
</script>

<style>
.main {
  margin: 2rem 15vw;
  width: 70vw;
}
</style>